.home-hero-heading{
  font-size: 4rem;
  font-weight: 700 ;
  
}
.hero-section-bg{
position: relative;
display: inline-block;
  height: 70vh;
}
.hero-img{
  position: relative;
  display: block;
object-fit: fill;
  left: 0px;
  height: 70vh;
  width: 100%;
}
.hero-tag-content{
  position: absolute;
  top: 3rem;
  width: 80vh;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-list{
color: #D96C3F;
  display: inline;
  
}
.hero-list:not(:last-child)::after{
  content: " | ";
}
.explore-collection-btn{
  display: flex;
  justify-content: center;
}
.celebrate-it-para{
  width: 28vw;
}
.bg-col-for-celebrate{
  background-color: #feefdc;
}
.bg-col-for-oneTeam{
  background-color: #e0eef8;
}
.card-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  font-weight: 550;
}
.icon-size{
  font-size: 4.2vh;
}
.position-of-card-icon{
  display: flex;
  position: relative;
  justify-content: center;
  top: 2.5vh;
  margin: 10px;
}
.idea-style-vastracraft{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;

}
.idea-style-vastracraft p{
  /* display:flex;
  position: relative;
  top: auto;
  justify-content: center; */
  
}
/* ======================== Made for your moment ================  */
.section2-content{
  width: 40rem;
}

