.bg-primary-col{
  background-color: #4A1942;
}
.bg-secondary-col{
  background-color: #E9E2D6;
}
.primary-col{
  color: #123C3A;
}
.secondary-col{
  color: #D96C3F;
}
.text-col{
  color: #252525;
}
.accent-col{
  color: #D96C3F;
}
body{
  background-color: #F8F5EF;
}
.p-m{
  padding: 10px;
  margin: 5px;
}
.sub-heading{
  font-family: Arial, Helvetica, sans-serif;
  color: #123C3A;
}
.sub-heading-text{
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  
}
/* ================== btn ===============  */
.btn{
  border: 2px solid #252525;
  border-radius: 20px;
  text-align: center;

}

/* ==============#= inline-block ============  */
.inline-block{
  display: inline;
}
.arrow-hw{
  height: 25px;
  width: 25px;
  position: absolute;
  right: 12px;
  top: 10px;
}
