 .bg-primary-col{
  background-color: #0d3331;
  color: #fff;
}
.bg-secondary-col{
  background-color: #E9E2D6;
} 
.primary-col{
  color: #0d3331;
}
.secondary-col{
  color: #D96C3F;
}
.accent-col{
  color: #D96C3F;
}
body{
  background-color: #F8F5EF;
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
}
.p-m{
  padding: 10px;
  margin: 5px;
}
.sub-heading{
  font-family: Arial, Helvetica, sans-serif;
  color: #123C3A;
  font-weight: 700;
}
.sub-heading-text{
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  
}
.card{
  background-color: transparent;
}
/* =================== logo ==================== */
.logo-container{
  display: flex;
  flex-direction: column;
}

.logo-heading{
  margin: 0;
  padding: 0;
  display: flex;
  word-spacing: 3px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid black; */
}
.tagline{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
position: relative;
top: 2px;
  line-height: 2px;
}
.tagline-container a{
  text-decoration: none;
}
.tagline-container{
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  /* border: 2px solid black; */
}
/* ================== nav ==================  */
.navbar-collapse{
margin-left: 4vh;
}
.nav-item{
  padding-right: 1vw;
}

.nav-cart{
  position: absolute;
  right: 7rem;
  font-size: 2.5vh;
}


/* ================== btn ===============  */
.btn{
  border: 2px solid #252525;
  border-radius: 20px;
  text-align: center;
  list-style: none;

}

/* ==============#= inline-block ============  */
.inline-block{
  display: inline;
}
.arrow-hw{
  height: 25px;
  width: 25px;
  position: absolute;
  right: 12px;
  top: 10px;
}
.icon-hw{
  height: 40px !important;
  width: 40px !important;
}

/* =================== footer ==============  */
.quicklinks{
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  padding: 5px;
  /* word-spacing: 1vw; */
  /* gap: 10px; */
}

.footer-icon{
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  margin: 5px;
  font-size: 1.4vw;
}
.footer-tagline{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end ;
}
.quick-link-heading{
  display: flex;
  justify-content: center;
}
.footer-quicklinks{
  display: flex;
  list-style-type: none;
}
.social-media-icons{
  display: flex;
  justify-content: center;
}